@use "src/styles/colors";
@use "src/styles/shadows";
@use "src/styles/fonts";

:host {
  @include shadows.soft-shadow();
  width: 100%;
  max-width: clamp(320px, 60vw, 640px);
  background-color: colors.$color-white;
  padding: 0.5rem;
  border-radius: 12px;

  form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .next-pokemon-container {
    display: flex;
    gap: 12px;
    align-items: center;

    .answer {
      @include fonts.font-24px-semi-bold;
      flex: 1;
      display: flex;
      align-items: center;
      gap: 12px;

      .pi {
        font-size: 1rem;
      }

      &.incorrect {
        color: colors.$color-application;
      }

      &.almost-correct {
        color: colors.$color-orange;
      }

      &.correct {
        color: colors.$color-green;
      }

      &.compact {
        @include fonts.font-16px-semi-bold;
      }
    }
  }
}
