<form (ngSubmit)="submit()" *ngIf="!isAnswerSubmitted else nextPokemon">
  <p-fluid>
    <p-floatlabel variant="on">
      <input #pokemonInput autofocus [pSize]="isCompactView ? 'small' : 'large'" pInputText id="pokemon-name"
             name="pokemonName"
             [(ngModel)]="pokemonInputName"
             autocomplete="off"/>
      <label for="pokemon-name">{{ 'POKEMON_GUESSR.QUESTION' | translate }}</label>
    </p-floatlabel>
  </p-fluid>
  <p-button raised type="submit" [label]="'POKEMON_GUESSR.SUBMIT' | translate "
            [size]="isCompactView ? 'small' : 'large'"/>
</form>
<ng-template #nextPokemon>
  <div class="next-pokemon-container">
    <div *ngIf="isCorrectAnswer()" class="answer correct" [ngClass]="{compact: isCompactView}">
      <i class="pi pi-check-circle correct"></i>
      <span class="correct">{{ 'POKEMON_GUESSR.CORRECT' | translate }}</span>
    </div>
    <div *ngIf="!isCorrectAnswer()" class="answer incorrect" [ngClass]="{compact: isCompactView}">
      <i class="pi pi-times-circle incorrect"></i>
      <span class="incorrect">{{ 'POKEMON_GUESSR.INCORRECT' | translate }}</span>
    </div>
    <form (ngSubmit)="getNextPokemon()">
      <p-button raised autofocus [size]="isCompactView ? 'small' : 'large'"
                type="submit">{{ 'POKEMON_GUESSR.NEXT_POKEMON' | translate }}
      </p-button>
    </form>
  </div>
</ng-template>
