@use "src/styles/colors";
@use "src/styles/shadows";

:host {
  @include shadows.soft-shadow();
  width: 100%;
  max-width: clamp(320px, 60vw, 640px);
  background-color: colors.$color-white;
  padding: 0.5rem;
  border-radius: 12px;

  form {
    display: flex;
    align-items: center;
    gap: 0.5rem;
  }

  .correct-answer {
    display: flex;
    gap: 12px;

    span {
      flex: 1;
      font-size: 2.25rem;
      font-weight: bold;
      text-align: center;
    }
  }
}
