@use "src/styles/colors";
@use "src/styles/fonts";
@use "src/styles/shadows";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100svh;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('/assets/img/background.png') center / cover no-repeat;

  .pokeball {
    width: 6rem;
    height: 6rem;
    background: linear-gradient(
        to bottom,
        colors.$color-application 0%,
        colors.$color-application 48%,
        colors.$color-black 52%,
        colors.$color-white 55%,
        colors.$color-white 100%
    );
    border-radius: 50%;
    border: 4px solid colors.$color-black;
    box-shadow: 0 10px 15px rgba(0, 0, 0, 0.15);
    position: relative;
    overflow: hidden;

    display: flex;
    align-items: center;
    justify-content: center;
    margin: 0 auto;

    &__line {
      position: absolute;
      top: 50%;
      left: 0;
      right: 0;
      height: 0.25rem; // h-1
      background: rgba(0, 0, 0, 0.1);
      transform: translateY(-50%);
    }

    &__center {
      width: 2rem; // w-8
      height: 2rem; // h-8
      background: white;
      border-radius: 50%;
      border: 4px solid colors.$color-black;
      z-index: 1;
    }

    &:hover {
      transform: scale(1.05) rotate(-5deg);
      transition: transform 0.3s ease;
    }
  }

  .settings-container {
    @include shadows.soft-shadow();
    display: flex;
    flex-direction: column;
    gap: 1rem;
    background-color: colors.$color-white;
    border-radius: 12px;
    border: 2px solid colors.$color-application-32;
    padding: 2rem;
    min-width: 30%;

    .title-container {
      display: flex;
      flex-direction: column;
      margin-bottom: 1rem;

      .title {
        @include fonts.font-24px-bold;
        text-align: center;
        color: colors.$color-application;
      }

      .subtitle {
        color: colors.$color-grey;
        text-align: center;
        @include fonts.font-14px-semi-bold;
      }
    }

    .form {
      display: flex;
      flex-direction: column;
      gap: 1.25rem;
    }
  }
}


