@use "src/styles/colors";

:host {
  .header {
    height: 10vh;
    font-size: 2.25rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: colors.$color-red;
    border-bottom: colors.$color-black solid 3px;
    color: colors.$color-white;
  }
}

