:host {
  .header {
    height: 10vh;
    font-size: 2.25rem;
    font-weight: bold;
    align-items: center;
    justify-content: center;
    display: flex;
    background-color: red;
    border-bottom: black solid 3px;
  }
}

