@use "src/styles/colors";
@use "src/styles/fonts";

:host {
  @include fonts.font-24px-semi-bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .loader {
    width: 200px;
    height: 200px;
    background: colors.$color-white;
    border-radius: 200px;
    border: 10px solid colors.$color-black;
    animation: spin 2s linear infinite;

    .pokeball {
      height: 95px;
      background: colors.$color-application;
      border-top-left-radius: 98px;
      border-top-right-radius: 98px;
      border-bottom: 8px solid colors.$color-black;

      .pokeball-center {
        position: relative;
        width: 50px;
        height: 50px;
        background: colors.$color-white;
        top: 71px;
        left: 68px;
        border: 6px solid colors.$color-black;
        border-radius: 200px;
      }
    }
  }

  .text {
    text-align: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
