@use "src/styles/colors";
@use "src/styles/fonts";

:host {
  @include fonts.font-24px-semi-bold;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;

  .loader {
    width: 200px;
    height: 200px;
    background: colors.$color-white;
    border-radius: 200px;
    border: 10px solid colors.$color-black;
    animation: spin 2s linear infinite;

    .pokeball {
      height: 95px;
      background: colors.$color-application;
      border-top-left-radius: 98px;
      border-top-right-radius: 98px;
      border-bottom: 8px solid colors.$color-black;

      .pokeball-center {
        position: relative;
        width: 50px;
        height: 50px;
        background: colors.$color-white;
        top: 65px;
        left: 65px;
        border: 6px solid colors.$color-black;
        border-radius: 200px;
      }
    }

    &.compact {
      width: 150px;
      height: 150px;
      border-radius: 150px;

      .pokeball {
        height: 70px;
        border-top-left-radius: 75px;
        border-top-right-radius: 75px;

        .pokeball-center {
          width: 38px;
          height: 38px;
          top: 46px;
          left: 46px;
          border-radius: 50%;
        }
      }
    }
  }

  .text {
    text-align: center;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}
