<div class="header">
  <span>{{'POKEMON_GUESSR.TITLE' | translate}}</span>
</div>
<div class="content" *ngIf="pokemon$ | async as pokemon else loader">
  <p>{{ 'POKEMON_GUESSR.QUESTION' | translate }}</p>
  <img src="{{pokemon.pictureUrl}}" alt="Pokemon picture">
  <app-guessr-input [pokemonName]="pokemon.name"
                    (answerIsCorrect)="handleCorrectAnswer()"
                    (answerIsIncorrect)="handleIncorrectAnswer()"
                    (nextPokemonRequested)="getNextPokemon()"
  ></app-guessr-input>
  <div *ngIf="(numberOfQuestionsAked$ | async) || 0 > 0">
    {{ 'POKEMON_GUESSR.SCORE' | translate}} : {{ numberOfCorrectAnswers$ | async}}
    / {{ numberOfQuestionsAked$ | async }}</div>
</div>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
