<div class="score-container">
  <span>Round 1/5</span>
  <p-chip class="chip" [label]="('POKEMON_GUESSR.SCORE' | translate) + ' : ' + (numberOfCorrectAnswers$ | async)"/>
</div>
<ng-container *ngIf="pokemon$ | async as pokemon else loader">
  <div class="pokemon-card">
    <div class="pokemon-ring">
      <div class="pokemon-ring__circle"></div>
    </div>
    <img
      src="{{ pokemon.pictureUrl }}"
      alt="Who's that pokemon?"
      class="pokemon-image"
    />
  </div>
  <app-guessr-input [pokemonName]="pokemon.name"
                    (answerIsCorrect)="handleCorrectAnswer()"
                    (answerIsIncorrect)="handleIncorrectAnswer()"
                    (nextPokemonRequested)="getNextPokemon()"
  ></app-guessr-input>
</ng-container>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>
