@use "src/styles/colors";
@use "src/styles/shadows";

:host {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background: linear-gradient(rgba(255, 255, 255, 0.6), rgba(255, 255, 255, 0.6)), url('/assets/img/background.png') center / cover no-repeat;

  .score-container {
    @include shadows.soft-shadow();
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: colors.$color-white;
    width: 50%;
    padding: 0.5rem;
    border-radius: 12px;

    .chip {
      background-color: colors.$color-application-64;
      color: colors.$color-white;
    }
  }

  .content {
    padding: 10px 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    font-size: 1.5rem;
  }

  img {
    max-width: 90%;
  }
}
