<ng-container *ngIf="pokemon$ | async as pokemon">
  <p>{{ 'POKEMON_GUESSR.QUESTION' | translate }}</p>
  <img src="{{pokemon.pictureUrl}}" alt="Pokemon picture">
  <app-guessr-input [pokemonName]="pokemon.name"
                    (answerIsCorrect)="handleCorrectAnswer()"
                    (answerIsIncorrect)="handleIncorrectAnswer()"
                    (nextPokemonRequested)="getNextPokemon()"
  ></app-guessr-input>
  <div *ngIf="(numberOfQuestionsAked$ | async) || 0 > 0">
    {{ 'POKEMON_GUESSR.SCORE' | translate}} : {{ numberOfCorrectAnswers$ | async}}
    / {{ numberOfQuestionsAked$ | async }}</div>
</ng-container>
<ng-container *ngIf="!(pokemon$ | async)">
  <app-loader></app-loader>
</ng-container>
